@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Heebo:wght@400;500;600&family=Lugrasimo&family=Ysabeau+Infant&display=swap');


*{
    margin: 0;
    padding: 0;
    
}

body {
    overflow-x: hidden;
    margin-right: 0;
    
}
.wrappers{

  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
  
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 23, 43, .9); /* Adjust the alpha value for the transparency */
  z-index: 0;
}
.navbar{

  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 10px;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}
.navbar .logo{

  width: 150px;
  height: auto;
  padding: 0px 35px;
  
}
.navbar ul{

  float: right;
  margin-right: 20px;
}
.navbar ul li{

  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{

  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 6px 20px;
  text-decoration:none;
  font-weight:bold;
  transition:0.4s ease-in-out;
}
.navbar ul li a.active,
.navbar ul li a:hover{
  color: crimson;
}

.al{
  height: 100px; 
  padding: 120px 450px;
  position: absolute;
}

.ph4{
  color: #fea116;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 20px;
 
}
.al h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-style: bold;
}

.bd {
    font-family: "Poppins-Regular";
    color: #333;
    font-size: 13px;
    margin: 0; }
  
  input, textarea, select, button {
    font-family: "Poppins-Regular";
    color: #333;
    font-size: 13px; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  h3 {
    color: #24262b;

  }  
  
  img {
    max-width: 100%;
    padding-top: 90px; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a:hover {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    background-color: rgba(255,255,255, 0.3);
    width: 100%;
    height: auto;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)), url(../images/Prequel-lead.jpg);}
    
    
  
  .inner {
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex; }
    .inner .image-holder {
      width: 50%; }
    .inner form {
      width: 50%;
      padding-top: 36px;
      padding-left: 45px;
      padding-right: 45px; }
    .inner h3 {
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Poppins-SemiBold";
      text-align: center;
      margin-bottom: 28px; }
  
  .form-group {
    display: flex; 
    position: relative;}
    .form-group input {
      width: 50%; }
      .form-group input:first-child {
        margin-right: 25px; }
  
  .form-wrapper {
    position: relative; }
    .form-wrapper i {
      position: absolute;
      bottom: 9px;
      right: 0; }
  
  .form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px; }
    .form-control::-webkit-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control::-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control:-ms-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control:-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
  
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px; }
    select option[value=""][disabled] {
      display: none; }
  
  button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    button i {
      margin-left: 10px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
    button:hover i, button:focus i, button:active i {
      -webkit-animation-name: hvr-icon-wobble-horizontal;
      animation-name: hvr-icon-wobble-horizontal;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1; }
  
  @-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @media (max-width: 1199px) {
    .wrapper {
      background-position: right center; } }
  @media (max-width: 991px) {
    .inner form {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .inner {
      display: block; }
      .inner .image-holder {
        width: 100%; }
      .inner form {
        width: 100%;
        padding: 40px 0 30px; }
  
    button {
      margin-top: 50px; } }  
  
/*footer*/
.container{
	max-width: 1170px;
	margin:auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 24%;
   padding: 0 5px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 40px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
